body {
  font-family: 'Arial', sans-serif;
  background-color: rgb(7, 70, 7);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

#board {
  border-collapse: collapse;
  border: 2px solid #000;
}

.cell {
  width: 6vw;
  height: 8vh;
  text-align: center;
  vertical-align: middle;
  border: 1px solid #000;
  font-size: 12px;
  background-color: #fff;
}

.board-center {
  background-color: #c0c0c0;
}

.board-corner {
  background-color: #dd2828;
  color: #fff;
}

.board-top,
.board-bottom {
  background-color: #f0f0f0;
}

.board-left,
.board-right {
  background-color: #f0f0f0;
}

#jail {
  width: 100%;
  height: 100%;
  background-color: #696969;
}

.giocatore{
    text-align: center;
}