#container {
    display: grid;
    grid-template-areas:
      "header header"
      "sidebar-left main"
      "sidebar-right main"
      "footer footer";
    grid-template-rows: auto 1fr auto; /* Regola l'altezza delle righe */
    grid-template-columns: 1fr auto; /* Regola la larghezza delle colonne */
    height: 80vh; /* Imposta l'altezza del container al 100% della viewport height */
    width: 65vw;
  }

  #header {
    grid-area: header;
    display: flex;
    flex-wrap: wrap;
  }

  #main {
    grid-area: main;
    display: flex;
    flex-wrap: wrap;
  }

  #sidebar-left {
    grid-area: sidebar-left;
    display: flex;
    flex-wrap: wrap;
  }

  #sidebar-right {
    grid-area: sidebar-right;
    display: flex;
    flex-wrap: wrap;
  }

/* Add this CSS in your "index.css" file */
.casella {
    border: 1px solid #000; /* Optional: Add a border for better visualization */
    padding: 10px; /* Adjust padding as needed */
    text-align: center; /* Center text inside the div */
    margin: 5px; /* Optional: Add margin for spacing between div elements */
    height: 15vh;
  }

  .casellaCol{
    border: 1px solid #000; /* Optional: Add a border for better visualization */
    padding: 10px; /* Adjust padding as needed */
    text-align: center; /* Center text inside the div */
    margin: 5px; /* Optional: Add margin for spacing between div elements */
    width: 10vw;
  }
  